<%= render "shared/header" %>

<div class="training">
  <h2 class="guidance">詳細に選んでいきます</h2>
  
  <div class="category">
    <div class="what">
      <%= link_to "文字→イメージ", '#', class: :ctg__btn %>
      <br>（文字を読んで正しいイメージを選びます）
    </div>

    <div class="what">
      <%= link_to "イメージ→文字", trainings_3image_word_level_path, class: :ctg__btn %>
      <br>（イメージを見て正しい単語・短文を選びます）
    </div>
  </div>
  
  <br>
  <div class="back_category">
    <%= link_to "一つ戻る", trainings_index_path, class: :back__btn %>
  </div>
</div>