<div class="training-page">
  <h2 class="guidance">詳細に選んでいきます</h2>
  
  <div class="category">
    <%= link_to "文字→イメージ", '#', class: :ctg__btn %>
      <div class="what">
        <p>（文字を読んで正しいイメージを選びます）</p>
      </div>
  <br>
    <%= link_to "イメージ→文字", trainings_4image_moji_level_path, class: :ctg__btn %>
      <div class="what">
        <p>（イメージを見て正しい単語・短文を選びます）</p>
      </div>
  </div>
  
  <br>
  <div class="back_category">
    <%= link_to "一つ戻る", trainings_2input_path, class: :back__btn %>
  </div>
</div>