<h2 class="guidance">詳細に選んでいきます</h2>

<div class="category">
  <%= link_to "文字→イメージ", '#', class: :ctg__btn %>
    <div class="what">
      <p>（文字を読んで正しいイメージを選びます）</p>
    </div>
</div>
<div class="category">
  <%= link_to "イメージ→文字", '#', class: :ctg__btn %>
    <div class="what">
      <p>（イメージを見て正しい単語・短文を選びます）</p>
    </div>
</div>

<div class="back_category">
  <%= link_to "一つ戻る", '#', class: :back__btn %>
</div>