<h2 class="guidance">難易度を選んで下さい</h2>

<div class="level">
  <div class="category_easy">
    <%= link_to "単語/n選択肢4つ", '#', class: :ctg__btn %>
  </div>
  <div class="category_medium">
    <%= link_to "単語/n選択肢9つ", '#', class: :ctg__btn %>
  </div>
  <div class="category_hard">
    <%= link_to "短文/n選択肢4つ", '#', class: :ctg__btn %>
  </div>
</div>

<div class="back_category">
  <%= link_to "一つ戻る", '#', class: :back__btn %>
</div>