<div class="training">
  <div class="question">
    <h2 id="title">当てはまるものを一つ選びましょう</h2>
    <div class="image-question">
      <%# JavaScriptにて問題を表示 %>
      <img src="/assets/reload.png" id="_question"><h2 id="_end">はどれ？</h2>
    </div>
    <div>
      <%# JavaScriptにて選択肢を表示 %>
          <button type="button" id="_answer_1" onclick="answerCheck(1)">回答1</button>
          <button type="button" id="_answer_2" onclick="answerCheck(2)">回答2</button>
          <button type="button" id="_answer_3" onclick="answerCheck(3)">回答3</button>
          <button type="button" id="_answer_4" onclick="answerCheck(4)">回答4</button>
    </div>
  </div>
</div>

  <%= render "shared/give_up_footer" %>