<div class="question">
  <h2>当てはまるものを一つ選びましょう</h2>
  <%= img src="/images/cat.png" %><h1>はどれですか？</h1>
</div>


<form method="post" action="" class="level">
  <input type="radio" name="choice" value="目">目
  <input type="radio" name="choice" value="猫">猫
  <input type="radio" name="choice" value="スプーン">スプーン
  <input type="radio" name="choice" value="兄">兄

<p><input type="submit" value="回答する"></p>

</form>
<div class="break">
  <%= link_to "止める", trainings_index_path, class: :back__btn %>
</div>