<h2 class="guidance">トレーニングを選んで下さい</h2>

<div class="category">
  <%= link_to "理解する", trainings_2input_path, class: :ctg__btn %>
<br>
  <%= link_to "表出する", '#', class: :ctg__btn %>
<br>
  <%= link_to "計算する", '#', class: :ctg__btn %>
</div>