<h1 class="question">
  <%= img src="/images/cop.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">塩</div>
  <div class="choice">まつ毛</div>
  <div class="choice">コップ</div>
  <div class="choice">500円玉</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>