<h1 class="question">
  <%= img src="/images/socks.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">本</div>
  <div class="choice">花</div>
  <div class="choice">ハサミ</div>
  <div class="choice">靴下</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>