<h1 class="question">
  <%= img src="/images/apple.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">ピラミッド</div>
  <div class="choice">魚</div>
  <div class="choice">カラス</div>
  <div class="choice">石</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>