<h1 class="question">
  <%= img src="/images/pc.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">雪</div>
  <div class="choice">お腹</div>
  <div class="choice">パソコン</div>
  <div class="choice">ちくわ</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>