<h1 class="question">
  <%= img src="/images/chingensai.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">タコライス</div>
  <div class="choice">学校</div>
  <div class="choice">ちんげん菜</div>
  <div class="choice">カーペット</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>