<div class="question">
  <h2>当てはまるものを一つ選びましょう</h2>
  <%= img src="/images/pc.png" %><h1>はどれですか？</h1>
</div>

<form method="post" action="" class="level">
  <input type="radio" name="choice" value="雪">雪
  <input type="radio" name="choice" value="お腹">お腹
  <input type="radio" name="choice" value="パソコン">パソコン
  <input type="radio" name="choice" value="ちくわ">ちくわ
</div>

<p><input type="submit" value="回答する"></p>

</form>
<div class="break">
  <%= link_to "止める", trainings_index_path, class: :back__btn %>
</div>