<h1 class="question">
  <%= img src="/images/apple.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">鉛筆</div>
  <div class="choice">りんご</div>
  <div class="choice">車</div>
  <div class="choice">ズボン</div>
</div>

<div class="answer">回答する</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>