<h1 class="question">
  <%= img src="/images/apple.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">目</div>
  <div class="choice">猫</div>
  <div class="choice">スプーン</div>
  <div class="choice">兄</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>