<div class="question">
  <h2>当てはまるものを一つ選びましょう</h2>
  <%= img src="/images/socks.png" %><h1>はどれですか？</h1>
</div>

<form method="post" action="" class="level">
  <input type="radio" name="choice" value="本">本
  <input type="radio" name="choice" value="花">花
  <input type="radio" name="choice" value="ハサミ">ハサミ
  <input type="radio" name="choice" value="靴下">靴下

<p><input type="submit" value="回答する"></p>

</form>
<div class="break">
  <%= link_to "止める", trainings_index_path, class: :back__btn %>
</div>