<h1 class="question">
  <%= img src="/images/clock.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">時計</div>
  <div class="choice">お茶</div>
  <div class="choice">ネズミ</div>
  <div class="choice">布団</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>