<h1 class="question">
  <%= img src="/images/bag.png" %>はどれですか？</h1>

<div class="level">
  <div class="choice">かばん</div>
  <div class="choice">地球</div>
  <div class="choice">ボンド</div>
  <div class="choice">ペンギン</div>
</div>

<div class="break">
  <%= link_to "止める", '#', class: :back__btn %>
</div>