<div class="question">
  <h2>当てはまるものを一つ選びましょう</h2>
  <%= img src="/images/clock.png" %><h1>はどれですか？</h1>
</div>

<form method="post" action="" class="level">
  <input type="radio" name="choice" value="鉛筆">鉛筆
  <input type="radio" name="choice" value="お茶">お茶
  <input type="radio" name="choice" value="ネズミ">ネズミ
  <input type="radio" name="choice" value="布団">布団
</div>

<p><input type="submit" value="回答する"></p>

</form>
<div class="break">
  <%= link_to "止める", trainings_index_path, class: :back__btn %>
</div>