<div class="card">
  <div class="question">
    <%= img src="/images/apple.png" %><h1></h1>
  </div>
  
  <div class="answer">
    <h1>りんご</h1>
  </div>
</div>

<div>
  <a href="/">次の問題</a>
</div>

<br>
<div class="break">
  <%= link_to "止める", trainings_index_path, class: :back__btn %>
</div>